img {
    width: 100%;
    height: auto;
    max-height: 100%;
    animation: fadeIn 3s ease;
    /* border-radius: 5%; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10%{
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}

div.galaxia{
    margin-top: 5%;
    width: 80%;
    background-color: white;
    box-shadow: 0 15px 28px rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
    border-radius: 5%;
    transition: transform 0.3s ease;
    overflow: hidden; 
    position: relative; 
    padding: 0;
    max-height: 80vh;
}

div.titulo {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

div.galaxia:hover {
    transform: scale(1.1);
}

div.galaxia img:not(:first-child) {
    display: none;
}

div.personajes {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 35px;
    text-align: center;
}

#goku{
    width: 20%;
    height: 20%;
    filter: drop-shadow(5px 5px 10px black);
}

#luffy{
    width: 22%;
    height: 22%;
    filter: drop-shadow(5px 5px 10px black);
}

/* @media screen and (max-width: 768px) {
    div.galaxia,
    div.personajes {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    div.galaxia,
    div.personajes {
        width: 95%;
    }
} */